/* CSS pour le site reservia.html */

/*Font*/
/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*applique la police et configuration de la page*/

body
{
	font-family: 'raleway',sans-serif;
	max-width: 1440px;
	min-width: 320px;
	margin: auto;
}

header,section, #filtres, #bloc_recherche
{
	margin-left: 3em;
	margin-right: 3em;
}

.fa-star
{
	font-size: 0.7em;
}

.star .fa-star
{
	color: #0065FC;
}

.star_blank .fa-star
{
	color: #F2F2F2;
}

/*--------------------- Header ---------------------*/

#logo
{
	background: no-repeat;
	margin-top: 2em;
}

header
{
	display: flex;
	justify-content: space-between;
	padding: 0px;
}

header ul
{
	list-style: none;
	display: flex;
	margin-top: 0px;
}

header li
{
	margin-left: 2em;
	padding: 2em 1em 0em 1em;
	font-size: 1em;
}

header nav a
{
	text-decoration: none;
	color: black;
}

.site_actuel
{
	border-top: 2px solid #0065FC;
}

/*bloc_recherche*/

#bloc_recherche
{
	margin-bottom: 2em;
}
#recherche
{
	display: flex;
	justify-content: flex-start;
	height: 50px;
	padding: 0px;
	overflow: hidden;
}

#titre_recherche h1
{
	margin-bottom: 1px;
	font-size: 1.4em;
}

#titre_recherche p
{
	margin-left: 0;
}

#recherche
{
	margin-top: 1em;
}

#recherche span:nth-child(1)
{
	background: #F2F2F2;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 0px 0px 15px;
}

#recherche div
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
}



#recherche form
{
	display: flex;
	justify-content: center;
	align-items: center;	
}

#recherche form p:nth-child(1) input
{
	width: 200px;
	height: 48px;
	outline: none;
	padding: 0px 15px 0px 15px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	font-family: 'raleway', sans-serif;
	font-size: 1em;
	font-weight: bold;
}

#recherche form p:nth-child(2) input
{
	width: 120px;
	height: 50px;
	background-color: #0065FC;
	outline: none;
	border-radius: 0px 15px 15px 0px;
	margin-left: 0;
	font-family: 'raleway', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: white;
}

#recherche form p:nth-child(2) button
{
	display: none;
}


#bloc_recherche form input
{
	border: none;
}

/*filtres*/

#filtres h1
{
	font-size: 1em;
	margin-right: 1em;
}

#filtres
{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	margin-bottom: 1em;
}

#liste_filtres
{
	display: flex;
	align-items: center;
}

#liste_filtres i
{
	color: #0065FC;
	font-size: 1em;
}

#choix_filtres
{
	display: flex;
	flex-flow: row wrap;
}

.bloc_filtres
{
	display: flex;
	align-items: center;
	
	padding-right: 2em;
	border-radius: 25px 25px 25px 25px;
	transition: transform .2s;
}

.bloc_filtres:hover
{
	transform: scale(1.15);
}
#liste_filtres span
{
	background-color: #DEEBFF;
	display: flex;
	margin-right: 1em;
	width: 3em;
	height: 3em;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#liste_filtres p
{
	display: flex;
	justify-content: right;
	align-items: center;
	height: 2.6em;
	border-top: 0.2em solid #F2F2F2;
	border-right: 0.2em solid #F2F2F2;
	border-bottom: 0.2em solid #F2F2F2;
	border-radius: 1.45em 1.45em 1.45em 1.45em;
	padding: 0em 1em 0em 0em;
	font-weight: bold;
}

#disponibilite
{
	display: flex;
	margin-top: 1em;
}

#disponibilite span
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	margin-right: 1em;
}

#disponibilite i
{
	color: #0065FC;
	font-size: 0.5em;
}

/*--------------------- Section ---------------------*/

section
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
/*article (hébergements)*/

#hebergements
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#article_hebergements
{
	display: flex;
	flex-flow: row wrap;
	background-color: #F2F2F2;
	border-radius: 15px;
}

#article_hebergements h1
{
	margin: 2em 0 0 1.7em;
}

#liste_hebergements
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bloc_hebergements
{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 246px;
	height: 200px;
	margin: 1em;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: transform .2s;
}

.bloc_hebergements:hover
{
	transform: scale(1.1);
}

#liste_hebergements h1
{
	margin: 3px 1px 0 0.7em;
}

#liste_hebergements p
{
	margin: 5px 1px 0 0.7em;
}

#liste_hebergements .evalution
{
	margin: 5px 1px 0 0.7em;
}

#article_hebergements .bloc_images
{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 2.5%;
	width: 95%;
	height: 55%;
	border-radius: 10px 10px 0px 0px;
}

.bloc_hebergements img
{
	width: 100%;
	height: auto;
}

#afficher_hebergements
{
	margin: 2em 0em 2em 1.7em;
}

#afficher_hebergements a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*aside*/

#aside_hebergements
{
	display: flex;
	flex-flow: column nowrap;
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-left: 2.7em;
}
#titre_populaires
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#titre_populaires h1
{
	margin: 2em 0 0 2em;
}

#titre_populaires i
{
	margin: 2em 2em 0 0;
}

#titre_populaires i
{
	font-size: 1.3em;
}

#liste_populaires
{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.bloc_populaires
{
	display: flex;
	background-color: white;
	width: 85%;
	height: 143px;
	margin: 1.2em;
	padding: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: transform .2s;
}

.bloc_populaires:hover
{
	transform: scale(1.1);
}

#aside_hebergements .bloc_images
{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 6px;
	margin-left: 6px;
	width: 36%;
	height: 92%;
	border-radius: 10px 0px 0px 10px;
}

.bloc_populaires img
{
	height: 100%;
	width: auto;

}

.bloc_populaires:nth-child(3) img
{
	height: auto;
	width: 100%;

}
#aside_hebergements .bloc_texte
{
	margin-left: 1em;
	padding-right: 1.5em;
	width: 170px;
}

#aside_hebergements .bloc_texte h1
{
	margin-bottom: 0;
}
#aside_hebergements .bloc_texte p
{
	margin-left: 0;
}

#aside_hebergements .bloc_texte .prix
{
	margin-top: 1px;
}

#aside_hebergements .bloc_texte .evalution
{
	margin-top: 1.9em;
}

/* article(activités) */

#activites
{
	display: flex;
	flex-direction: column;
}

#liste_activites
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.zone_activites
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.bloc_activites
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: transform .2s;
}

.bloc_activites:hover
{
	transform: scale(1.05);	
}

.bloc_activites img
{
	width: 100%;
	height: auto;
}

#titre_activites
{
	margin-top: 3em;
}

.texte_activites
{
	display: flex;
	height: 50px;
	border: 1px solid black;
}

.bloc_activites h1
{
	margin-left: 0.7em;
}

/*--------------------- Footer ---------------------*/

footer
{
	background-color: #F2F2F2;
	margin-top: 5em;
	display: flex;
	min-height: 13em;
}

.liste_footer
{
	margin: 1em 0em 0em 3em;
}

.liste_footer h1
{
	font-size: 1.4em;
}
.liste_footer ul
{
	list-style: none;
	padding-left: 0;
}

.liste_footer li
{
	margin-top: 0.4em;
}


@media all and (min-width: 1440px)
{
/* ------------------------ header ------------------------ */

/* ------------------------ rercherche / filtres ------------------------ */

/* ------------------------ section ------------------------ */
/* ---- article (hebergements) ---- */
	#article_hebergements
	{
		max-width: 880px;
	}
	#aside_hebergements
	{
		width: 420px;
		height: 626px;	
	}

	.zone_activites
	{
		width: 650px;
		height: 500px;
	}
	.zone_activites .bloc_activites
	{
		width: 300px;
	}

	.zone_activites .bloc_activites:nth-child(1)
	{
		height: 100%;
	}

	.zone_activites .bloc_activites:nth-child(2)
	{
		margin-left: 3em;
	}

	.zone_activites .bloc_activites:nth-child(3)
	{
		margin-left: 3em;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2)
	{
		height: 50%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(3)
	{
		height: 40%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(2)
	{
		height: 45%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(3)
	{
		height: 45%;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 100%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 33em;
	}
/* ------------------------ footer ------------------------ */

	.liste_footer
	{
		width: 33%;		
	}
}
@media all and (min-width: 992px) and (max-width: 1439px)
{
/* ------------------------ header ------------------------ */

/* ------------------------ rercherche / filtres ------------------------ */
	#choix_filtres
	{
		flex-flow: row wrap;
	}

	#liste_filtres
	{
		flex-direction: column;
		align-items: flex-start;
	}
/* ------------------------ section ------------------------ */

/* ---- article (hebergements) ---- */
	
	section
	{
		align-items: center;
	}
	#hebergements
	{
		display: flex;
		flex-flow: column wrap;
		max-width: 950px;
		background-color: #F2F2F2;
		border-radius: 15px;
	}

	#article_hebergements
	{
		order: 2;
		width: 100%;
	}

/* ---- aside (hebergements) ---- */
	#aside_hebergements
	{
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		margin: 0 0 2em 0;
		order: 1;
	}

	#liste_populaires
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-bottom: 1em;
	}
	.bloc_populaires
	{
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 246px;
		height: 200px;
		margin: 1em;
	}

	#aside_hebergements .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin: 2.5%;
		width: 95%;
		height: 50%;
		border-radius: 10px 10px 0px 0px;
	}

	.bloc_populaires img
	{
		width: 100%;
		height: auto;
	}

	#liste_populaires .bloc_texte
	{
		padding: 0;
		margin-right: 1em;
		width: 90%;
	}

	#liste_populaires h1
	{
		margin: 1px 1px 0 0.1em;
	}

	#liste_populaires p
	{
		margin: 1px 1px 0 0.1em;
	}

	#liste_populaires .bloc_texte .evalution
	{
		left: 0px;
		margin-top: 0.1em;
	}

	.bloc_populaires img
	{
		width: 100%;
		height: auto;
	}

/* ---- article (activités) ---- */

	#activites
	{
		max-width: 950px;
		background-color: #F2F2F2;
		border-radius: 15px;
		margin-top: 3em;
		padding-bottom: 3em;
	}

	#titre_activites
	{
		margin-left: 2em;
	}
	.zone_activites
	{
		width: 100%;
		flex-flow: row wrap;
		justify-content: center;
	}
	.zone_activites .bloc_activites
	{
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 246px;
		height: 200px;
		margin: 1em;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 100%;
		height: 60%;
		border-radius: 10px 10px 0px 0px;
	}

	.bloc_activites h1
	{
		margin-top: 0;
		margin-right: 1em;
	}

/* ------------------------ footer ------------------------ */

	.liste_footer
	{
		width: 33%;		
	}	
}

@media all and (min-width: 768px) and (max-width: 991px)
{
/* ------------------------ header ------------------------ */
/* ------------------------ section ------------------------ */
	section
	{
		align-items: center;
	}
/* ---- hebergements ---- */
	#hebergements
	{
		flex-flow: column wrap;
		align-items: center;
		max-width: 768px;
	}

	#article_hebergements
	{
		order: 2;
		width: 100%;
		margin-top: 2em;
	}

	#aside_hebergements
	{
		order: 1;
		margin: 0px;
		width: 100%;
		padding-bottom: 2em;
	}

	#liste_populaires img
	{
		height: auto;
		width: 100%;
	}

	#aside_hebergements .bloc_texte
	{
		width: 20em;
		margin-top: 0.5em;
	}

/* ---- activités ---- */

	#activites
	{
		max-width: 768px;
	}
	#liste_activites
	{
		width: 100%;
	}

	.zone_activites
	{
		width: 100%;
		height: 500px;
		align-items: center;
	}

	.zone_activites:nth-child(2)
	{
		margin-top: 3em;
	}
	.zone_activites .bloc_activites
	{
		width: 300px;
	}

	.zone_activites .bloc_activites:nth-child(1)
	{
		height: 100%;
	}

	.zone_activites .bloc_activites:nth-child(2)
	{
		margin-left: 3em;
	}

	.zone_activites .bloc_activites:nth-child(3)
	{
		margin-left: 3em;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2)
	{
		height: 50%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(3)
	{
		height: 40%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(2)
	{
		height: 45%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(3)
	{
		height: 45%;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 100%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 33em;
	}
/* ------------------------ footer ------------------------ */
	.liste_footer
	{
		width: 33%;		
	}
}
@media all and (min-width: 556px) and (max-width: 767px)
{

	header, #filtres, #bloc_recherche
	{
		margin-left: 1em;
		margin-right: 1em;
	}

/* ------------------------ header ------------------------ */
	
	nav ul
	{
		padding-left: 0px;
	}

	nav li
	{
		margin-left : 1px;
	}
/* ------------------------ rercherche / filtres ------------------------ */
	#recherche
	{
		justify-content: center;
	}
	#recherche form p:nth-child(2) input
	{
		display: none;
	}
	#recherche form p:nth-child(2) button
	{
		display: block;
		width: 50px;
		height: 50px;
		background-color: #0065FC;
		outline: none;
		border: 0px;
		border-radius: 15px;
		margin-left: 0;
		font-size: 1em;
		color: white;
	}

	#liste_filtres
	{
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.bloc_filtres
	{
		padding-right: 0.5em;
	}


/* ------------------------ section ------------------------ */

	section
	{
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	/* --------article_hebergements --------*/
	#hebergements
	{
		flex-flow: column wrap;
		width: 100%;
	}

	#article_hebergements
	{
		order: 2;
		background-color: transparent;
		flex-flow: column wrap;
		width: 100%;
	}
	#liste_hebergements
	{
		align-items: center;
	}

	/* --------aside_hebergements --------*/
	#aside_hebergements
	{
		margin-left: 0;
		min-width: 100%;
		border-radius: 0px;
		order: 1;
		width: 100%;
	}

	.bloc_populaires
	{
		max-width: 480px;
	}
	/* --------article_activites --------*/
	#activites
	{
		width: 100%;
	}

	#liste_activites
	{
		
		flex-flow: column nowrap;
		align-items: center;
		width: 100%;
	}

	.zone_activites
	{
		max-width: 580px;
		min-width: 556px;
		height: 350px;
		align-items: center;
	}

	.zone_activites:nth-child(2)
	{
		margin-top: 2.5em;
	}

	.zone_activites .bloc_activites
	{
		max-width: 230px;
	}

	.zone_activites .bloc_activites:nth-child(1)
	{
		height: 100%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2)
	{
		height: 50%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(3)
	{
		height: 40%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(2)
	{
		height: 45%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(3)
	{
		height: 45%;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 100%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 33em;
	}
	/*-------- footer --------*/
	footer
	{
		flex-direction: column;
		justify-content: flex-start;
	}
}

@media all and (max-width: 555px)
{
	body
	{
		min-width: 375px;
	}

	header, section
	{
		margin-left: 0em;
		margin-right: 0em;
	}

	#filtres, #bloc_recherche
	{
		margin-left: 1em;
		margin-right: 1em;
	}
/* ------------------------ header ------------------------ */
	
	header
	{
		flex-direction: column;
		position: relative;
	}	

	nav li:nth-child(3)
	{
		position: absolute;
		right: 0px;
		top: 0px;
	}

	nav ul
	{
		padding: 0;
		justify-content: space-around;

	}
/* ------------------------ rercherche / filtres ------------------------ */
	#recherche
	{
		justify-content: center;
	}
	#recherche form p:nth-child(2) input
	{
		display: none;
	}
	#recherche form p:nth-child(2) button
	{
		display: block;
		width: 50px;
		height: 50px;
		background-color: #0065FC;
		outline: none;
		border: 0px;
		border-radius: 15px;
		margin-left: 0;
		font-size: 1em;
		color: white;
	}

	#liste_filtres
	{
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.bloc_filtres
	{
		padding-right: 0.5em;
	}


/* ------------------------ section ------------------------ */

	section
	{
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	/* --------article_hebergements --------*/
	#hebergements
	{
		flex-flow: column wrap;
		width: 100%;
	}

	#article_hebergements
	{
		order: 2;
		background-color: transparent;
		flex-flow: column wrap;
		width: 100%;
	}
	#liste_hebergements
	{
		align-items: center;
	}

	/* --------aside_hebergements --------*/
	#aside_hebergements
	{
		margin-left: 0;
		min-width: 100%;
		border-radius: 0px;
		order: 1;
		width: 100%;
	}

	.bloc_hebergements
	{
		width: 85%;
		height: 15em;
	}

	/* ---- article (activités) ---- */

	#activites
	{
		margin-top: 3em;
	}

	#titre_activites
	{
		margin-left: 2em;
	}

	#liste_activites
	{
		width: 100%;
		flex-flow: column wrap;
	}
	.zone_activites
	{
		width: 100%;
		align-items: center;
	}
	.bloc_activites
	{
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 85%;
		height: 15em;
		margin-bottom: 2.5em;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 100%;
		height: 70%;
		border-radius: 10px 10px 0px 0px;
	}

	.bloc_activites h1
	{
		margin-top: 0;
		margin-right: 1em;
	}

	/*-------- footer --------*/
	footer
	{
		flex-direction: column;
		justify-content: flex-start;
	}
}