/* CSS pour le site reservia.html */


/*applique la police et configuration de la page*/

body
{
	font-family: 'Raleway',sans-serif;
	max-width: 1440px;
	min-width: 320px;
	margin: auto;
}

header,#contenus, #filtres, #bloc_recherche
{
	margin-left: 3em;
	margin-right: 3em;
}

#contenus h2, footer h2
{
	font-size: 1.2em;
}

#contenus h3
{
	font-size: 1em;
}

#contenus p
{
	font-size: 0.9em;
}
.fa-star
{
	font-size: 0.7em;
}

.star .fa-star
{
	color: #0065FC;
}

.star_blank .fa-star
{
	color: #F2F2F2;
}



/*--------------------- Header ---------------------*/

#logo
{
	background: no-repeat;
	margin-top: 2em;
}

header
{
	display: flex;
	justify-content: space-between;
	padding: 0px;
}

header ul
{
	list-style: none;
	display: flex;
	margin-top: 0px;
}

header li
{
	margin-left: 2em;
	font-size: 1em;
	border-top: 2px solid transparent;
}


a
{
	text-decoration: none;
	color: black;
}

nav li a
{
	display: block;
	padding: 2em 1em 0em 1em;
}

nav li:nth-child(1):hover, nav li:nth-child(2):hover
{
	border-top: 2px solid #0065FC;
}

nav li a:nth-child(1):hover, nav li a:nth-child(2):hover
{
	color: #0065FC;
}

nav li:nth-child(3) a
{
	font-weight: bold;
	color: #0065FC;
}

/*---- bloc_recherche ----*/

#bloc_recherche
{
	margin-bottom: 2em;
}
#recherche
{
	display: flex;
	justify-content: flex-start;
	height: 50px;
	padding: 0px;
	overflow: hidden;
}

#titre_recherche h1
{
	margin-bottom: 1px;
	font-size: 1.4em;
}

#titre_recherche p
{
	margin-left: 0;
}

#recherche
{
	margin-top: 1em;
}

#recherche span:nth-child(1)
{
	background: #F2F2F2;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 0px 0px 15px;
}

#recherche div
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
}



#recherche form
{
	display: flex;
	justify-content: center;
	align-items: center;	
}

#recherche form p input
{
	font-family: 'Raleway', sans-serif;
}

#recherche form p:nth-child(1) input
{
	width: 200px;
	height: 48px;
	outline: none;
	padding: 0px 15px 0px 15px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	font-size: 1em;
	font-weight: bold;
}

#recherche form p:nth-child(2) input
{
	width: 120px;
	height: 50px;
	background-color: #0065FC;
	outline: none;
	border-radius: 0px 15px 15px 0px;
	margin-left: 0;
	font-size: 1em;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

#recherche form p:nth-child(2) button
{
	display: none;
	width: 50px;
	height: 50px;
	background-color: #0065FC;
	outline: none;
	border: 0px;
	border-radius: 15px;
	margin-left: 0;
	font-size: 1em;
	color: white;
	cursor: pointer;
}


#bloc_recherche form input
{
	border: none;
}

/*---- filtres ----*/

#filtres h2
{
	font-size: 1em;
}

#filtres
{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	margin-bottom: 1em;
}

#liste_filtres
{
	display: flex;
	align-items: center;
}

#liste_filtres i
{
	color: #0065FC;
	font-size: 1em;
}

#choix_filtres
{
	display: flex;
	flex-flow: row wrap;
}

.bloc_filtres
{
	display: flex;
	align-items: center;
	padding-right: 2.2em;
	border-radius: 25px 25px 25px 25px;
	transition: transform .2s;
}

.bloc_filtres:hover
{
	transform: scale(1.1);
}
#liste_filtres span
{
	background-color: #DEEBFF;
	display: flex;
	margin-right: 1em;
	width: 3em;
	height: 3em;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#liste_filtres p
{
	display: flex;
	justify-content: right;
	align-items: center;
	height: 2.7em;
	border-top: 0.15em solid #d9d9d9;
	border-right: 0.15em solid #d9d9d9;
	border-bottom: 0.15em solid #d9d9d9;
	border-radius: 1.45em 1.45em 1.45em 1.45em;
	padding: 0em 1.3em 0em 0em;
	font-weight: bold;
}

#disponibilite
{
	display: flex;
	justify-content: space-between;
	margin: 1em 0 1em 0;
}

#disponibilite div
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 1.3em;
	height: 1.3em;
	border: 1px solid #d9d9d9;
	border-radius: 50%;
	margin-right: 1em;
}

#disponibilite i
{
	color: #0065FC;
	font-size: 0.6em;
	margin-top: 0.1em;
}

#disponibilite p
{
	margin: 0.2em 0 0 0;
	padding: 0;
	min-width: 200px;
}

/*--------------------- contenus ---------------------*/

#contenus
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
/*---- section (hébergements) ----*/

#hebergements
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#section_hebergements
{
	display: flex;
	flex-flow: row wrap;
	background-color: #F2F2F2;
	border-radius: 15px;
}

#section_hebergements h2
{
	margin: 2em 0 0 1.7em;
}

#liste_hebergements
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bloc_hebergements
{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 246px;
	height: 200px;
	margin: 1em;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: transform .2s;
	cursor: pointer;
}

.bloc_hebergements:hover
{
	transform: scale(1.1);
}

.bloc_hebergements .bloc_images
{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 5px;
	width: 236px;
	height: 110px;
	border-radius: 10px 10px 0px 0px;
}

#liste_hebergements h3
{
	margin: 3px 1px 0 0.7em;
}

#liste_hebergements p
{
	margin: 5px 1px 0 0.7em;
}

#liste_hebergements .evalution
{
	margin: 5px 1px 0 0.7em;
}



.bloc_hebergements img
{
	width: 100%;
	height: auto;
}

#afficher_hebergements
{
	margin: 2em 0em 2em 1.7em;
}

#afficher_hebergements a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*---- aside ----*/

#aside_hebergements
{
	display: flex;
	flex-flow: column nowrap;
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-left: 2.7em;
}
#titre_populaires
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#titre_populaires h2
{
	margin: 2em 0 0 2em;
}

#titre_populaires i
{
	margin: 2em 2em 0 0;
}

#titre_populaires i
{
	font-size: 1.3em;
}

#liste_populaires
{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.bloc_populaires
{
	display: flex;
	background-color: white;
	width: 80%;
	height: 143px;
	margin: 1em;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: transform .2s;
	cursor: pointer;
}

.bloc_populaires:hover
{
	transform: scale(1.1);
}

.bloc_populaires .bloc_images
{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 6px;
	margin-left: 6px;
	width: 120px;
	height: 131px;
	border-radius: 10px 0px 0px 10px;
}

.bloc_populaires img
{
	height: 100%;
	width: auto;

}

.bloc_populaires:nth-child(3) img
{
	height: auto;
	width: 100%;

}
#aside_hebergements .bloc_texte
{
	margin-left: 1em;
	padding-right: 1.5em;
	width: 170px;
}

#aside_hebergements .bloc_texte h3
{
	margin-bottom: 0;
}
#aside_hebergements .bloc_texte p
{
	margin-left: 0;
}

#aside_hebergements .bloc_texte .prix
{
	margin-top: 1px;
}

#aside_hebergements .bloc_texte .evalution
{
	margin-top: 2.3em;
}

/*---- section (activités) ----*/

#activites
{
	display: flex;
	flex-direction: column;
}

#liste_activites
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.zone_activites
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.bloc_activites
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: transform .2s;
	cursor: pointer;
}

.bloc_activites:hover
{
	transform: scale(1.05);	
}

.bloc_activites img
{
	width: 100%;
	height: auto;
}

#titre_activites
{
	margin-top: 3em;
}

.texte_activites
{
	display: flex;
	height: 50px;
	border: 1px solid black;
}

.bloc_activites h3
{
	margin-left: 0.7em;
}

/*--------------------- Footer ---------------------*/

footer
{
	background-color: #F2F2F2;
	margin-top: 5em;
	display: flex;
	min-height: 13em;
}

.liste_footer
{
	margin: 1em 0em 0em 3em;
}

.liste_footer h2
{
	font-size: 1.15em;
	margin-bottom: 1em;
}
.liste_footer ul
{
	list-style: none;
	padding-left: 0;
}

.liste_footer li
{
	margin: 0.8em 0 0.8em 0;
}


@media all and (min-width: 1440px)
{
/* ------------------------ header ------------------------ */
/* ------------------------ rercherche / filtres ------------------------ */
	#filtres
	{
		margin-left: 3.5em;
	}


	#filtres h2
	{
		margin-right: 2em;	
	}	

/* ------------------------ contenus ------------------------ */
/* ---- section (hebergements) ---- */
	#section_hebergements
	{
		max-width: 880px;
	}
	#aside_hebergements
	{
		width: 420px;
		height: 626px;
	}

	.zone_activites
	{
		width: 650px;
		height: 430px;
	}
	.zone_activites .bloc_activites
	{
		width: 300px;
	}

	.zone_activites .bloc_activites:nth-child(1)
	{
		height: 100%;
	}

	.zone_activites .bloc_activites:nth-child(2)
	{
		margin-left: 3em;
	}

	.zone_activites .bloc_activites:nth-child(3)
	{
		margin-left: 3em;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2)
	{
		height: 55%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(3)
	{
		height: 35%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(2)
	{
		height: 40%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(3)
	{
		height: 50%;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		overflow: hidden;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2) .bloc_images
	{
		align-items: center;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) .bloc_images
	{
		align-items: center;
	}


	.zone_activites:nth-child(1) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 100%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 33em;
	}
/* ------------------------ footer ------------------------ */

	.liste_footer
	{
		width: 33%;		
	}
}
@media all and (min-width: 992px) and (max-width: 1439px)
{
/* ------------------------ header ------------------------ */

/* ------------------------ rercherche / filtres ------------------------ */
	#choix_filtres
	{
		flex-flow: row wrap;
	}

	#liste_filtres
	{
		flex-direction: column;
		align-items: flex-start;
	}
/* ------------------------ contenus ------------------------ */

	#contenus
	{
		align-items: center;
	}
/* ---- section (hebergements) ---- */
	

	#hebergements
	{
		display: flex;
		flex-flow: column wrap;
		max-width: 950px;
		background-color: #F2F2F2;
		border-radius: 15px;
	}

	#section_hebergements
	{
		order: 2;
		width: 100%;
	}

/* ---- aside (hebergements) ---- */
	#aside_hebergements
	{
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		margin: 0 0 2em 0;
		padding-bottom: 2em;
		order: 1;
	}

	#liste_populaires
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.bloc_populaires
	{
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 246px;
		height: 200px;
		margin: 1em;
	}

	.bloc_populaires .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin: 5px;
		width: 236px;
		height: 100px;
		border-radius: 10px 10px 0px 0px;
	}

	.bloc_populaires .bloc_texte h3
	{
		margin-top: 0.5em;
	}
	.bloc_populaires img
	{
		width: 100%;
		height: auto;
	}

	#liste_populaires .bloc_texte
	{
		padding: 0;
		margin-right: 1em;
		width: 90%;
	}

	#liste_populaires h2
	{
		margin: 1px 1px 0 0.1em;
	}

	#liste_populaires p
	{
		margin: 1px 1px 0 0.1em;
	}

	#liste_populaires .bloc_texte .evalution
	{
		left: 0px;
		margin-top: 0.1em;
	}

	.bloc_populaires img
	{
		width: 100%;
		height: auto;
	}

/* ---- section (activités) ---- */

	#activites
	{
		max-width: 950px;
		background-color: #F2F2F2;
		border-radius: 15px;
		margin-top: 3em;
		padding-bottom: 3em;
	}

	#titre_activites
	{
		margin-left: 2em;
	}
	.zone_activites
	{
		width: 100%;
		flex-flow: row wrap;
		justify-content: center;
	}
	.zone_activites .bloc_activites
	{
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 246px;
		height: 200px;
		margin: 1em;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 246px;
		height: 140px;
		border-radius: 10px 10px 0px 0px;
	}

	.bloc_activites h3
	{
		margin-top: 0;
		margin-right: 1em;
	}

/* ------------------------ footer ------------------------ */

	.liste_footer
	{
		width: 33%;		
	}	
}

@media all and (min-width: 768px) and (max-width: 991px)
{
/* ------------------------ header ------------------------ */
/* ------------------------ contenus ------------------------ */
	#contenus
	{
		align-items: center;
	}
/* ---- hebergements ---- */
	#hebergements
	{
		flex-flow: column wrap;
		align-items: center;
		max-width: 768px;
	}

	#section_hebergements
	{
		order: 2;
		width: 650px;
		margin-top: 2em;
	}

	#aside_hebergements
	{
		order: 1;
		margin: 0px;
		width: 650px;
		padding-bottom: 2em;
	}

	.bloc_populaires .bloc_images
	{
		width: 200px;
	}

	#liste_populaires img
	{
		height: auto;
		width: 100%;
	}

	#aside_hebergements .bloc_texte
	{
		width: 20em;
		margin-top: 0.5em;
	}

/* ---- activités ---- */

	#activites
	{
		width: 650px;
	}
	#liste_activites
	{
		width: 100%;
	}

	.zone_activites
	{
		width: 100%;
		height: 500px;
		align-items: center;
	}

	.zone_activites:nth-child(2)
	{
		margin-top: 3em;
	}
	.zone_activites .bloc_activites
	{
		width: 300px;
	}

	.zone_activites .bloc_activites:nth-child(1)
	{
		height: 100%;
	}

	.zone_activites .bloc_activites:nth-child(2)
	{
		margin-left: 3em;
	}

	.zone_activites .bloc_activites:nth-child(3)
	{
		margin-left: 3em;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2)
	{
		height: 50%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(3)
	{
		height: 40%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(2)
	{
		height: 45%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(3)
	{
		height: 45%;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		overflow: hidden;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2) .bloc_images
	{
		align-items: center;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) .bloc_images
	{
		align-items: center;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 100%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 33em;
	}
/* ------------------------ footer ------------------------ */
	.liste_footer
	{
		width: 33%;		
	}
}
@media all and (min-width: 556px) and (max-width: 767px)
{

	header, #filtres, #bloc_recherche
	{
		margin-left: 1em;
		margin-right: 1em;
	}

/* ------------------------ header ------------------------ */
	
	nav ul
	{
		padding-left: 0px;
	}

	nav li
	{
		margin-left : 1px;
	}
/* ------------------------ rercherche / filtres ------------------------ */
	#recherche
	{
		justify-content: center;
	}
	#recherche form p:nth-child(2) input
	{
		display: none;
	}
	#recherche form p:nth-child(2) button
	{
		display: block;

	}

	#liste_filtres
	{
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.bloc_filtres
	{
		padding-right: 0.5em;
	}


/* ------------------------ contenus ------------------------ */

	#contenus
	{
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	/* --------section_hebergements --------*/
	#hebergements
	{
		flex-flow: column wrap;
		width: 100%;
	}

	#section_hebergements
	{
		order: 2;
		background-color: transparent;
		flex-flow: column wrap;
		width: 100%;
	}
	#liste_hebergements
	{
		align-items: center;
	}

	/* --------aside_hebergements --------*/
	#aside_hebergements
	{
		margin-left: 0;
		min-width: 100%;
		border-radius: 0px;
		order: 1;
		width: 100%;
	}

	.bloc_populaires
	{
		max-width: 480px;
	}
	/* --------section_activites --------*/
	#activites
	{
		width: 100%;
	}

	#activites h2
	{
		margin-left: 2em;
	}

	#liste_activites
	{
		
		flex-flow: column nowrap;
		align-items: center;
		width: 100%;
	}

	.zone_activites
	{
		max-width: 580px;
		min-width: 556px;
		height: 350px;
		align-items: center;
	}

	.zone_activites:nth-child(2)
	{
		margin-top: 2.5em;
	}

	.zone_activites .bloc_activites
	{
		max-width: 230px;
	}

	.zone_activites .bloc_activites:nth-child(1)
	{
		height: 100%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(2)
	{
		height: 50%;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(3)
	{
		height: 40%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(2)
	{
		height: 45%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(3)
	{
		height: 45%;
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.zone_activites:nth-child(1) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 100%;
	}

	.zone_activites:nth-child(2) .bloc_activites:nth-child(1) img
	{
		width: auto;
		height: 33em;
	}
	/*-------- footer --------*/
	footer
	{
		flex-direction: column;
		justify-content: flex-start;
		padding-bottom: 2em;
	}
}

@media all and (max-width: 555px)
{
	html
	{
		min-width: 375px;
	}

	header, #contenus
	{
		margin-left: 0em;
		margin-right: 0em;
	}

	#filtres, #bloc_recherche
	{
		margin-left: 1em;
		margin-right: 1em;
	}
/* ------------------------ header ------------------------ */
	
	header
	{
		flex-direction: column;
		position: relative;
	}

	#logo
	{
		margin-left: 1em;
	}

	nav li:nth-child(3)
	{
		position: absolute;
		right: 0em;
		top: 1.5em;
	}

	nav ul
	{
		padding: 0;
		justify-content: space-around;
	}

	nav li
	{
		width: 50%;
		margin: 0;
		text-align: center;
	}

	nav li a
	{
		padding: 1.3em 0 1em 0;
	}

	nav li:nth-child(1):hover, nav li:nth-child(2):hover
	{
		margin: 0;
		border-top: none;
		border-bottom: 0.2em solid #0065FC;
	}

	nav li:nth-child(1), nav li:nth-child(2)
	{
		border-top: none;
		border-bottom: 0.2em solid #F2F2F2;
	}
	nav li:nth-child(3)
	{
		width: 100px;
	}
/* ------------------------ rercherche / filtres ------------------------ */
	#recherche
	{
		justify-content: center;
	}
	#recherche form p:nth-child(2) input
	{
		display: none;
	}
	#recherche form p:nth-child(2) button
	{
		display: block;
	}

	#liste_filtres
	{
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.bloc_filtres
	{
		padding-right: 0.5em;
	}

	#liste_filtres p
	{
		padding-right: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	#disponibilite
	{
		margin: 1.5em 0 1.5em 0;
	}

	#disponibilite div
	{
		margin-right: 0.5em;
	}

/* ------------------------ contenus ------------------------ */

	#contenus
	{
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	/* --------section_hebergements --------*/
	#hebergements
	{
		flex-flow: column wrap;
		width: 100%;
	}

	#section_hebergements
	{
		order: 2;
		background-color: transparent;
		flex-flow: column wrap;
		width: 100%;
	}

	#section_hebergements h2
	{
		margin-left: 1em;
		font-size: 1.4em;
	}

	#liste_hebergements
	{
		align-items: center;
	}

	.bloc_hebergements
	{
		width: 345px;
		height: 11.5em;
		margin: 0.5em 1em 0.5em 1em;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	}

	.bloc_hebergements .bloc_images
	{
		width: 335px;
		height: 6.5em;
		margin: 5px;
	}

	#liste_hebergements .evalution
	{
		margin-top: 0px;
	}

	/* --------aside_hebergements --------*/
	
	#aside_hebergements
	{
		margin-left: 0;
		min-width: 100%;
		border-radius: 0px;
		padding-bottom: 2em;
		order: 1;
		width: 100%;
	}

	#titre_populaires
	{
		margin-bottom: 1em;
	}
	#titre_populaires h2
	{
		margin: 1.5em 0 0 1em;
		font-size: 1.4em;
	}

	#titre_populaires i
	{
		margin: 1.5em 1em 0 0em;
	}

	.bloc_populaires
	{
		width: 345px;
		margin: 0.5em 1em 0.5em 1em;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	}

	/* ---- section (activités) ---- */

	#activites
	{
		margin-top: 1em;
	}

	#activites h2
	{
		font-size: 1.4em;
	}

	#titre_activites
	{
		margin-left: 0em;
		margin-top: 1em;
	}

	#liste_activites
	{
		width: 100%;
		flex-flow: column wrap;
	}
	.zone_activites
	{
		width: 100%;
		align-items: center;
	}
	.bloc_activites
	{
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 345px;
		height: 13em;
		margin: 0.5em 0 0.5em 0;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	}
	.bloc_activites .bloc_images
	{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 100%;
		height: 85%;
		border-radius: 10px 10px 0px 0px;
	}

	.bloc_activites h3
	{
		margin-top: 1em;
		margin-right: 1em;
		margin-bottom: 1em;
	}

	/*-------- footer --------*/
	footer
	{
		flex-direction: column;
		justify-content: flex-start;
		padding-bottom: 2em;
	}

	.liste_footer
	{
		margin-left: 2em;
	}
}